html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

section, header, footer {
    width: 100%;
    float: left;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    list-style-type: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
}

.container:before,
.container:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.container:after {
    clear: both;
}

.container {
    zoom: 1;
}

:root {
    --cor-fundo: #35363A;
    --cor-primaria: #000000;
    --cor-secundaria: #FFA700;
    --cor-terciaria: #FFFFFF;
    --font-principal: 'inter';
}

body {
    background: var(--cor-fundo);
    font-family: var(--font-principal);
}

#menu {
    width: 100%;
    background: var(--cor-primaria);
    border-bottom: 2px solid var(--cor-secundaria);
}

#menu .container {
    display: flex;
}

#menu .logomarca {
    width: 120px;
    height: auto;
}

.menu_lista {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu_lista li a {
    display: block;
}

.menu_lista a {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor-terciaria);
    padding: 15px 20px;
}

.menu_lista a:hover {
    background: var(--cor-secundaria);
    color: var(--cor-primaria);
}

#home {
    background: black;
}

#home .container {
    margin: 30px auto;
}

#home .banner_home {
    width: 100%;
}

#sobre {
    background: #E1DDDA;
}

#sobre .container {
    display: flex;
    background-image: url("img/fundo.jpeg");
    margin: 30px auto;
    padding: 0;
}

#sobre .container img {
    width: 50%;
}

.descricao_sobre h1 {
    text-transform: uppercase;
    color: var(--cor-secundaria);
    margin-bottom: 25px;
}

.descricao_sobre {
    width: 50%;
    color: var(--cor-terciaria);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding: 40px 20px;
    line-height: 1.2;
}

.descricao_sobre strong {
    color: var(--cor-secundaria);
}

#servico {
    background: var(--cor-fundo);
}

#servico .container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.area_titulo { /*class reutilizável*/
    text-align: center;
    width: 100%;
    padding: 60px 0;
}

.titulo_h2 { /*class reutilizável*/
    color: var(--cor-secundaria);
    font-size: 45px;
    text-transform: uppercase;
}

.titulo_p { /*class reutilizável*/
    color: var(--cor-terciaria);
    margin-top: 10px;
}

.servico_conteudo {
    background-image: url("img/fundo.jpeg");
    width: 31%;
}

.servico_conteudo:hover {
    -webkit-box-shadow: 6px 6px 14px -5px rgba(250, 247, 250, 1);
    -moz-box-shadow: 6px 6px 14px -5px rgba(250, 247, 250, 1);
    box-shadow: 6px 6px 14px -5px rgba(250, 247, 250, 1);
}

.servico_conteudo img {
    width: 100%;
    padding: 25px 60px;
}

.servico_conteudo h3 {
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    color: var(--cor-terciaria);
    font-size: 25px;
}

.servico_conteudo a {
    text-decoration: none;
}

.agenda {
    padding: 55px 0;
    text-align: center;
}

.agenda a {
    display: inline-block;
    padding: 20px 95px;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: 700;
    color: var(--cor-primaria);
    background: var(--cor-secundaria);
}

.agenda a:hover {
    background: var(--cor-terciaria);
}

@media (min-width: 2560px) {
    #home .container {
        margin: 92px auto;
    }

    #sobre {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #E1DDDA;
        height: 80vh;
    }

    .descricao {
        font-size: 25px;
        padding: 25px;
    }
}