html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

section, header, footer {
    width: 100%;
    float: left;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    list-style-type: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
}

.container:before,
.container:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.container:after {
    clear: both;
}

.container {
    zoom: 1;
}

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #D89216;
    --cor-texto: #FFFFFF;
    --font-principal: 'inter';
}

body {
    background: var(--cor-primaria);
    font-family: var(--font-principal);
}

#menu {
    width: 100%;
    position: fixed;
    z-index: 1;
    background: var(--cor-primaria);
    border-bottom: 2px solid var(--cor-secundaria);
}

#menu .container {
    display: flex;
}

#menu .container img {
    width: 120px;
    height: auto;
}

.menu_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu_container li a {
    display: block;
}

.menu_container a {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--cor-texto);
    padding: 15px 20px;
}

.menu_container a:hover {
    background: var(--cor-secundaria);
    color: var(--cor-primaria);
}

#home .container {
    display: flex;
}

#home .container img {
    width: 100%;
    height: 100vh;
    margin-top: 140px;
}

#sobre .container {
    position: relative;
}

#sobre .container img {
    width: 100%;
    padding-top: 25px;
}

.descricao  {
    position: absolute;
    bottom: 15%;
    width: 38%;
    color: var(--cor-texto);
    font-weight: 400;
    font-size: 25px;
    line-height: 1.2;
}

.descricao strong {
    color: var(--cor-secundaria);
}

.descricao h1 {
    text-transform: uppercase;
    color: var(--cor-secundaria);
    margin-bottom: 25px;
}